
<title>HOME PAGE </title>
<div style="text-align: right; padding-top: 0px">
    <h4 style="color: yellowgreen">@Html.ActionLink("Exit", "Index", "Home")</h4>
</div>
<div style="text-align: center; padding-top: 30px">
    <h1 style="color: red">LIST OF WORK</h1>
</div>
<div style="margin-left: 50px">
    @foreach (var items in (List<Document>)ViewBag.ListOfView)
    {
        <li>
            <h3 style="color: blue">
                @Html.ActionLink(@items.title, "DocDetail", "Home", new { id = items.id }, null)
            </h3>
            <h4 style="margin-left: 70px; color: blue">@items.text</h4>
        </li>

    }
</div>
