@using System.Web.Mvc.Html
<title>Login Page </title>
<div style="text-align: center; padding-top: 100px">
    <h1>Login With UserId:</h1>
    @if ((List<Int32>)ViewBag.ListOfView != null)
    {
        foreach (var items in (List<Int32>)ViewBag.ListOfView) //lay view bag => get list user id
        {
            <li class="text-center">

                <h4>USER ID:  @Html.ActionLink(@items.ToString(), "HomeView", "Home", new { id = items }, null)</h4>
                @*Action call method HomeView in homecontroller(param =id)*@
            </li>

        }
    } else { <h2>Not availble Data</h2>}

</div>